@keyframes color-me-in {
  0% {
    background: #2A333D;
  }
  25% {
    background: #485563;
  }
  50% {
    background: #55706D;
  }
  75% {
    background: #485563;
  }
  100% {
    background: #2A333D;
  }
}

@keyframes turntable {
  0%{ transform: rotateZ(0); }
  100%{ transform: rotateZ(360deg); }
}

// *{
//   border: 1px solid red;
// }

body {
  //animation: color-me-in 10s infinite;
  background: url("http://pre03.deviantart.net/b204/th/pre/i/2014/026/1/e/crumpled_paper_by_vesperity_stock-d73wpje.jpg") no-repeat;
  background-size: cover;
  font-family: 'Homemade Apple', cursive;
}

.navbar {
  display: block;
  height: 317px;
}

h1 {
  margin: 40px 8%;
  text-align: left;
  color: #454343;
  font-size: 48pt;
  font-weight: normal;
  position: absolute;
  top: 38%;
}

audio {
float: left;
background-color: #95B9C7;
transition: all 0.5s linear;
box-shadow: 2px 2px 4px 0px #006773;
border-radius:7px 7px 7px 7px ;
margin: 0 8%;
}

.searchBar, #search {
  float: right;
  margin: 2%;
  border: 3px dashed #454343;
  background: transparent;
  color: #454343;
  border-radius: 40px;
  padding: 15px 10px;
  overflow: hidden;
  width: 250px;
  transition:
    all        1.2s,
    border     0.5s 1.2s,
    box-shadow 0.3s 1.5s;
  white-space: nowrap;
  text-indent: 23px;
  font-weight: bold;
  font-size: 16pt;

  span {
    display: inline-block;
    transform: translateX(300px);
    font-weight: normal;
    opacity: 0;
    transition:
      opacity 0.1s 0.5s,
      transform 0.4s 0.5s;
  }

  &:hover {
    text-indent: 12px;
    background: #F1F3EE;
    color: #454343;
    width: 350px;
    border: 10px dashed #C8B8B8;
    box-shadow: 3px 3px 2px rgba(black, 0.15);

    span {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

input:focus, button:focus {
  outline: none;
}

.searchResults {
  display: inline;
  width: 150px;
  height: 200px;
  overflow: hidden;
  margin: 2% -3%;

  &:hover {
      transform: scale(3);
      bottom: 18%;
      left: 78%;
      z-index: 1000;
      position: fixed;
  }
}


.image {
  height: 150px;
  width: 150px;
  display: inline-block;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/154694/vinyl.png");
  background-size: contain;
  position: relative;

  img {
    border-radius: 50%;
    height: 52px;
    width: 52px;
    top: 49px;
    right: 48px;
    animation: turntable 4s linear infinite;
    position: absolute;
  }

  span {
    display: none;
  }
}

.results {
  width: 56%;
  margin-left: 9%;
  display: table;
}

.trackInfo {
    transition: all 500ms ease;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.8);
    color: #FFE8A3;
    opacity: 0;
    padding: 20% 10%;
    border-radius: 50%;
    text-align: center;
    overflow: scroll;

    &:hover{
      opacity: .8;
    }
}


audio:hover, audio:focus, audio:active {
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
transform: scale(1.05);
}
