@keyframes color-me-in {
  0% {
    background: #2A333D;
  }
  25% {
    background: #485563;
  }
  50% {
    background: #55706D;
  }
  75% {
    background: #485563;
  }
  100% {
    background: #2A333D;
  }
}

@keyframes turntable {
  0%{ transform: rotateZ(0); }
  100%{ transform: rotateZ(360deg); }
}

.spinning{
  animation: turntable 4s linear infinite;
}

body {
  animation: color-me-in 10s infinite;
}

.navbar {
  display: block;
  height: 120px;
}

h1 {
  margin: 20px 2%;
  text-align: left;
  color: #FFE8A3;
  font-size: 36pt;
  font-weight: normal;
  position: fixed;
}

audio {
  width: 60%;
  height: 20px;
  background: #AED6D1;
  border-radius: 40%;
}

.searchBar, #search {
  float: right;
  margin: 2% 2% 0 2%;
  border: 5px solid transparent;
  background: #AED6D1;
  color: #55706D;
  border-radius: 40px;
  padding: 15px 20px;
  overflow: hidden;
  width: 200px;
  transition:
    all        1.2s,
    border     0.5s 1.2s,
    box-shadow 0.3s 1.5s;
  white-space: nowrap;
  text-indent: 23px;
  font-weight: bold;
  span {
    display: inline-block;
    transform: translateX(300px);
    font-weight: normal;
    opacity: 0;
    transition:
      opacity 0.1s 0.5s,
      transform 0.4s 0.5s;
  }
  &:hover {
    text-indent: 0;
    background: #55706D;
    color: #FFE8A3;
    width: 250px;
    border: 10px solid #8DCCC4;
    box-shadow: 3px 3px 2px rgba(black, 0.15);
    span {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

input:focus, button:focus {
  outline: none;
}

.searchResults {
  display: inline-block;
  width: 150px;
  height: 200px;
  overflow: hidden;
  margin: 0 2%;
}

.image {
  height: 150px;
  width: 150px;
  display: inline-block;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/154694/vinyl.png");
  background-size: contain;
  position: relative;

  img {
    border-radius: 50%;
    height: 52px;
    width: 52px;
    top: 49px;
    right: 48px;
    animation: turntable 4s linear infinite;
    position: absolute;
  }

  span {
    display: none;
  }
}

.songTitle, .bandName {
  opacity: 0;

  &:hover {
    opacity: .7;
    background: black;
    color: #FFE8A3;
  }
}

.results {
  width: 80%;
  margin: 0 auto;
}

.trackInfo {
    transition: all 500ms ease;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.8);
    color: #FFE8A3;
    opacity: 0;
    padding: 20% 10%;
    border-radius: 50%;
    text-align: center;
    overflow: scroll;

    &:hover{
      opacity: .8;
    }
}
